* {
    box-sizing: border-box;
}

html{
  font-size:12px;
}

p, h1, h2,h3 {
    color:wheat;
}

h1{
  font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction:column;
  background-color: snow;
  height: auto;
  overflow: auto;
  }

.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:95vw;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:40px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

header h1{
  color: brown;
}

#location{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2%;
} 

#gps_ico_img{
  width:auto;
  height: 30px;
  margin: 2%;
 }

.margin1{
  display: inline-flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1.8rem;
}

#card1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1% 3% 1% 3%;
  align-self: center;
  width: 100%;
  height:auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 2%;
  -webkit-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
-moz-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
}

#card2{
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
  align-self: center;
  width: 100%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5%;
  -webkit-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
-moz-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
}

#card3{
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  align-self: center;
  width: 100%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5%;
  -webkit-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
-moz-box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
box-shadow: 9px 10px 39px -5px rgba(0,0,0,0.56);
}
 

#weather_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 350px;
}

#weather_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:250px;
  height: 280px;
  margin: 2%;
 }

#weather_now{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  
}

#weather_value{
  line-height: 9rem;
  font-size: 12rem;
  font-weight: bold;
  width:auto;
  height: auto;
  color: rgb(165, 190, 236);
}

#card1,
#card2,
#card3
{
background:  rgb(48, 100, 96); 
}

#temp_ico{
  align-self: flex-start;
  margin-top: 1%;
}

#temp_ico_img{
  width:2rem;
  height: auto;
  margin-right: 2%;
  margin-left: 2%;
}

#weather_ico_img{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 250px;
  height: 250px;
  opacity: 0;
  animation: fadeIn 10s ease forwards;
}

 @keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(.8)
  }
  100%{
    opacity: 1;
    transform: scale(1.4)
   }
}

#weather_info{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width:100%;
  height: auto;
}

#weather_info_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:250px;
  height: auto;
  margin: 2%;
 }

td{
    padding: 3px 10px 3px 3px;
 }

#update_box{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width:220px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#update_box h3{
   font-size: 1.2rem;
}

#update_ico_img{
  display: flex;
  width:25px;
  height: 25px;
  margin: 5px;
  border:2px solid snow;
  border-radius: 50%;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
}

#update_ico_img:hover{
   border:2px solid greenyellow;
} 

#update_ico_img:active{
  opacity: .5;
} 

#new_location{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width:70%;
  height: auto;
  padding: 2%;
}

select{
  width:20vw;
  margin: 15px;
}

#new_location_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  margin: 3%;
}

#new_location_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  margin: 5%;
  padding: 2%;
}

#new_loc_button{
  width:80px;
  height: 80px;
}

/* 
#map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  margin: 4% 1% 1% 1%;
  
}

#map_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 50vw;
  height: 300px;
  margin: 2% 1% 3% 1%;
  border: 2px solid gray;
} */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2% 1% 3%;
  background-color: rgb(114, 29, 29);
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: .3px solid #4c4d4e;
  /*background-image: linear-gradient(#191f2e, transparent);*/
  /* background-image: linear-gradient(#222b3f, transparent); */
}

footer p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  border-bottom: 14px solid #3498db;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 90px;
	height: 90px;
	animation-name: rotateAnim;
		-o-animation-name: rotateAnim;
		-ms-animation-name: rotateAnim;
		-webkit-animation-name: rotateAnim;
		-moz-animation-name: rotateAnim;
	animation-duration: 1s;
		-o-animation-duration: 1s;
		-ms-animation-duration: 1s;
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}

@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

@media screen and (min-width:240px) and (max-width:500px){
   html{
     font-size:8px;
   }
   #card1{
     height:660px;
   }
   #gps_ico_img{
    width:auto;
    height: 20px;
    margin-right: 2%;
    margin-left:2%;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
      transform: scale(1)
    }
    100%{
      opacity: 1;
      transform: scale(1.2)
     }
  }
}

@media screen and (min-width:501px) and (max-width:728px){
  html{
    font-size:10px;
  }
  #card1{
    height:660px;
  }
  #gps_ico_img{
   width:auto;
   height: 20px;
   margin-right: 2%;
   margin-left:2%;
 }
}

@media screen and (min-width:1001px) and (max-width:1400px){
  html{
    font-size:12px;
  }
}

