body {
  overflow: scroll;
  background: snow;
}

.main {
  display: flex;
  justify-content: space-around;
  }

.container1,
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border:1px solid yellowgreen;
}

.container1 {
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 60vmax;
  margin-top: 1%;
  padding: 2% 2% 2% 2%;
  border: 1px solid gainsboro;
}

.button {
  position: fixed;
}

.container1 h1 {
  font-size: 2.5em;
  padding-bottom: .5%;
}

#username {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 2%;
  background: darkslategray;
  width: 42vw;
}

#username p {
  color: antiquewhite;
  font-weight: bold;
}

#name {
  align-content: center;
  width: 17vw;
  margin-left: 1em;
  color: darkslategrey;
  font-weight: bold;
  transition: all 1s cubic-bezier(.36, .15, .27, .98);
}

#name:focus-within {
  width: 35vw;
  background: lightcyan;
}

#music label {
  font-weight: bold;
  padding: .5em 1em .5em 1em;
  border: 1px solid gray;
  border-radius: 10%;
  margin-right: 2em;
}

input[type=checkbox]:checked + label {
  /*get the first label of INPUT CHECKBOX checked*/
  color: white;
  background: limegreen;
  transition: all 0.6s linear;
}

button[type=submit] {
  display: block;
  box-shadow: 6px 5px 13px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #d4e4ef 0%, #86aecc 100%);
  width: 150px;
  height: 40px;
  font-weight: bold;
  color: darkblue;
  transition: all .3s ease-out;
  /*trasition for hover and  active*/
}

button[type=submit]:hover {
  /* in hover,change the color*/
  color: black;
}

button[type=submit]:active {
  box-shadow: -5px -5px 9px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #86aecc 0%, #d4e4ef 100%);
  color: deepskyblue;
}

textarea {
  display: block
}

textarea {
  width: 400px;
  height: 2em;
  border: 3px solid gray;
  transition: height .7s ease-out, background 1.5s ease-out, border 1.5s cubic-bezier(.36, .15, .27, .98);
  /*cubic-bezier time function example*/
}

textarea:focus {
  background: lightcyan;
  border: 3px solid blue;
  height: 9em;
}

input[type=radio]checked + label {
  color: limegreen;
}
