body {
    overflow: scroll;
    background: snow;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .main h4 {
    text-indent: 3em;
    margin-bottom: 0.3em;
    color: darkslategrey;
    font-weight: bold;
  }
  
  .container1 {
    flex-direction: column;
    height: auto;
    width: 70vmax;
    margin-top: 1%;
    padding: 2%;
    border: 1px solid gainsboro;
  }
  
  .button {
    position: relative;
  }
  
  .container1 h1 {
    font-size: 2.5em;
    padding-bottom: .5%;
  }
  
  .container1 h3 {
    text-indent: 3em;
    margin-bottom: 0.3em;
  }
  
  .container1 p:first-of-type {
    margin-top: 1em;
  }
  
  p {
    margin-bottom: .5em;
    margin-left: 2em;
    color: rgb(117, 115, 117);
    font-weight: bold;
  }
  
  button {
    border: 1px solid rgb(179, 178, 178);
    margin: 1em 6em 1em 1em;
    padding: 2%;
    transition: margin-left .5s ease-out;
  }
   
  button:active {
    background: rgb(193, 193, 231);
  }
  
  button:hover {
    border: 1px solid rgb(3, 3, 161);
    cursor: pointer;
  }
  
  .container2 {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    margin-top: 1%;
    padding: 2% 2% 2% 10%;
    border: 1px solid gainsboro;
  }
   #users{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-top: 1%;
    padding: 2% 2% 2% 2%;
    border: 1px solid gainsboro;
   }

 li{
   display: flex;
     flex-direction: column;
     padding: 2% 2% 2% 2%;
     width:150px;
}

input{
  margin-left: 30px;
}
  .container2 h1 {
    font-size: 2.5em;
    padding-bottom: 0.5%;
  }
  img {
    width: 100px;
    max-width: 100%;
  }
  .container2 h3 {
    text-indent: 3em;
    margin-bottom: 0.3em;
  }
  
  .container2 p:first-of-type {
    margin-top: 1em;
  }
   #form{
     margin-left:40px;
   }